@page
@model Alquiler.App.Presentacion.Clientes.DeleteModel
@{
    ViewData["Title"] = "Eliminar Cliente";
}

<div class="card">
    <div class="card-header">
        <h2 class="text-info">Eliminar cliente</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div asp-validation-sumary="ModelOnly" class="text-danger">
                <div class="container" style="padding: 30px">
                    <!-- se envía campo de la PK oculto -->
                <input type="hidden"  asp-for="cliente.id" />

                    <div class="form-group">
                            <div class="row">
                                <div class="col-sm-2"> 
                                    <label asp-for="cliente.id"></label>
                                </div>
                                <div class="col-sm-1">
                                    <input asp-for="cliente.id" class="form-control" value= "@Model.cliente.id" disabled/>
                                </div>
                                <span asp-validation-for="cliente.id" class="text-danger"></span>
                            </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="cliente.identificacion"></label>
                            </div>
                            <div class="col-sm-3">
                                <input asp-for="cliente.identificacion" class="form-control" value= "@Model.cliente.identificacion" disabled/>
                            </div>
                            <span asp-validation-for="cliente.identificacion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="cliente.nombre"></label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="cliente.nombre" class="form-control" value = "@Model.cliente.nombre" disabled/>
                            </div>
                            <span asp-validation-for="cliente.nombre" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="cliente.correo"></label>
                            </div>
                            <div class="col-sm-6">
                                <input type= "email" asp-for="cliente.correo" class="form-control" value = "@Model.cliente.correo" disabled/>
                            </div>
                            <span asp-validation-for="cliente.correo" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="cliente.celular"></label>
                            </div>
                            <div class="col-sm-3">
                                <input asp-for="cliente.celular" class="form-control" value = "@Model.cliente.celular" disabled/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="cliente.tipoLicencia"></label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="cliente.tipoLicencia" class="form-control" value = "@Model.cliente.tipoLicencia" disabled/>
                            </div>
                            <span asp-validation-for="cliente.tipoLicencia" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2"> 
                                <label asp-for="cliente.licencia"></label>
                            </div>
                            <div class="col-sm-6">
                                <input asp-for="cliente.licencia" class="form-control" value = "@Model.cliente.licencia" disabled/>
                            </div>
                            <span asp-validation-for="cliente.licencia" class="text-danger"></span>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-2 offset-sm-2"> 
                                <input type="submit" value="Eliminar" class="btn btn-danger form-control" />
                            </div>
                            <div class="col-sm-4">
                                <a asp-page="List" class="btn btn-primary form-control">Volver a la Lista</a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

